:root {
    --primary-background: #3F91A9;
    --secondary-background: #7592D0;
    --button-background:#83A7CF;
    --incorrect-color:red;
    --correct-color:green;
    --font-color:#F2F4EF;
  }
body{
    font-family: 'Rubik', sans-serif;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    background-color: var(--primary-background); 
}
p{
    color:var(--secondary-background)
}
.main-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 42px;
}
.sub-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 5vh;
    font-size: 28px;
    font-style: italic;
}
.btn-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;;
}
.hidden{
    display:none;
}
.button-container{
    margin-top: 20px;
}

.difficulty-buttons{
    background-color:var(--button-background);
    border-color:var(--secondary-background);
    width: 300px;
    height:150px;
    font-size: 20px;
    margin:20px;
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav-bar{
    background-color: var(--primary-background);
    height: 5vh;
}
.flag-container{
    margin-top: 25px;
    margin-bottom: 50px;
}
.modal-title{
    color: var(--font-color);
}
.answer-button{
    background-color: var(--button-background);
    border-color:var(--button-background);
    color: var(--font-color);
    width:40vw;
    height:20vh;
    margin:10px;
}
.flashing {
    animation: blinker 1.5s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.flash-once{
    animation: blinker 1s linear 0.5s 1;
    color:green;
    @keyframes blinker {
        50% {
          opacity: 0;
        }}
        
}
.modal-title{
    color: var(--secondary-background)
}
@media  screen and (min-width :320px) {
    .button-container{
        margin-top: 50px;
    }
}
@media  screen and (min-width :768px) {

     .main-title{
        font-size: 72px;
    }

    .sub-title{
        font-size: 42px;
    }
    
    .difficulty-buttons{
        width: 300px;
        height:150px;
        font-size: 28px;
        margin:100px;
    }
    
    .button-container{
        margin-top: 100px;
    }

    #nav-bar{
        font-size: 2vh;
    }
    .answer-button{
        font-size: 3.5vh;
        width: 45vw;
    } 
}

.flaggy{
    width: 300px;
    height: 200px;
}
