:root {
    --primary-background: #3F91A9;
    --secondary-background: #7592D0;
    --button-background:#83A7CF;
    --incorrect-color:red;
    --correct-color:green;
    --font-color:#F2F4EF;
  }
body{
    font-family: 'Rubik', sans-serif;
    color: var(--font-color);
    width: 100%;
    height: 100%;
    background-color: var(--primary-background); 

}

.main-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 42px;
}
.sub-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 5vh;
    font-size: 28px;
    font-style: italic;
}
.btn-title{
    color:var(--font-color);
    letter-spacing: 1px;
    font-weight: bold;;
}
.hidden{
    display:none;
}
.button-container{
    margin-top: 20px;
}

#easy-btn{
    background-color:var(--button-background);
    border-color:var(--secondary-background);
    width: 300px;
    height:150px;
    font-size: 20px;
    margin:20px;
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#medium-btn{
    background-color:var(--button-background);
    border-color:var(--secondary-background);
    width: 300px;
    height:150px;
    font-size: 20px;
    margin:20px;
    color: var(--font-color); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#difficult-btn{
    background-color: var(--button-background);
    border-color:var(--secondary-background);
    width: 300px;
    height:150px;
    font-size: 20px;
    margin:20px;
    color: var(--font-color); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#nav-bar{
    background-color: var(--primary-background);
    height: 5vh;
}
.flag-container{
    margin-top: 25px;
    margin-bottom: 50px;
}
.modal-title{
    color: var(--font-color);
}
#option1{
    background-color: var(--button-background);
    border-color:var(--button-background);
    color: var(--font-color);
    width:40vw;
    height:20vh;
    margin:10px;
    
}
#option2{
    background-color: var(--button-background);
    border-color:var(--button-background);
    color: var(--font-color);
    width:40vw;
    height:20vh;
    margin:10px;
    ;
}
#option3{
    background-color: var(--button-background);
    border-color:var(--button-background);
    color: var(--font-color);
    width:40vw;
    height:20vh;
    margin:10px;
    
}
#option4{
    background-color: var(--button-background);
    border-color:var(--button-background);
    color: var(--font-color);
    width:40vw;
    height:20vh;
    margin:10px;
    
}


.modal-title{
    color: var(--secondary-background)
}

@media  screen and (min-width :320px) {
    
    #easy-btn{
        width: 200px;
        height:100px;
    }
    #medium-btn{
        width: 200px;
        height:100px;
    }
    #difficult-btn{
        width: 200px;
        height:100px;
    }

    .button-container{
        margin-top: 50px;
    }
}

@media  screen and (min-width :768px) {
    

    .main-title{
        font-size: 72px;
    }

    .sub-title{
        font-size: 42px;
    }
    
    #easy-btn{
        width: 300px;
        height:150px;
        font-size: 28px;
        margin:100px;
    }
    #medium-btn{
        width: 300px;
        height:150px;
        font-size: 28px;
        margin:100px;
    }
    #difficult-btn{
        width: 300px;
        height:150px;
        font-size: 28px;
        margin:100px;
    }

    .button-container{
        margin-top: 100px;
    }

    #nav-bar{
        font-size: 2vh;
    }

    #option1{
        font-size: 3.5vh;
        width: 45vw;
    }
    #option2{
        font-size: 3.5vh;
        width: 45vw;
    }
    #option3{
    font-size: 3.5vh;
    width: 45vw;
}
    
    #option4{
        font-size: 3.5vh;
        width:45vw;
        }

    
}
